/* Audiowide : regular */
@font-face {
    font-family: 'Audiowide-Regular';
    src: url(../media/polices/Audiowide-Regular.ttf) format('truetype');
}
/* Sansation : regular */
@font-face {
  font-family: 'Sansation-Regular';
  src: url(../media/polices/Sansation_Regular.ttf) format('truetype');
}
/* Sansation : bold */
@font-face {
  font-family: 'Sansation-Bold';
  src: url(../media/polices/Sansation_Bold.ttf) format('truetype');
}
/* Sansation : bold italic */
@font-face {
  font-family: 'Sansation-BoldItalic';
  src: url(../media/polices/Sansation_Bold_Italic.ttf) format('truetype');
}
/* Sansation : italic */
@font-face {
  font-family: 'Sansation-Italic';
  src: url(../media/polices/Sansation_Italic.ttf) format('truetype');
}
/* Sansation : light */
@font-face {
  font-family: 'Sansation-Light';
  src: url(../media/polices/Sansation_Light.ttf) format('truetype');
}
/* Sansation : light italic */
@font-face {
  font-family: 'Sansation-LightItalic';
  src: url(../media/polices/Sansation_Light_Italic.ttf) format('truetype');
}
