body, h1,h2,h3,h4,h5,h6 {font-family: "Sansation-Regular", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #101010;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

/* Ajouts personnels */
.leftMarge{
    margin-left: 5%;
}
.hover-customizedPink:hover{
    color:#fff!important;
    background-color:#C929CF!important
}
.hover-customizedGreen:hover{
    color:#fff!important;
    background-color:#23C418!important
}
.customizedPink{
    color:#C929CF!important
}
.customizedGreen{
    color:#23C418!important
}
.onLink-customizedGreen:hover{
    color:#23C418!important;
}
.textNoJustify{text-align: left;}
.insertAlbumBox{
    width: 50%;
}
.decalageBas{
    margin-bottom: 15px;
}
.decalageHaut{
    margin-top: 15px;
}
.centeredText{
    text-align: center;
}
.displayRow{
    display: flex;
    flex-direction: row;
}
.displayCol{
    display: flex;
    flex-direction: column;
}
.tabulation{
    text-indent: 32px;
}
.textToLeft{
    text-align: left;
}
.fontSize20{
    font-size: 20px;
}
.fontSize16{
    font-size: 16px;
}
.fontSize24{
    font-size: 24px;
}
.standardButton{
    width: 15%;
}
.standardButtonPl{
    width: 120px;
}
u{
    text-underline-offset: 4px;
}
.lowLineHeight{
    line-height: 1.1;
}
.toLittleH4{
    min-height: 60px;
    display: flex;
    align-items: center;
}
.needToBeCenteredCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.needToBeCenteredRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Style relatif au sondage */
.affCard{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
}
.playlistCard{
    border: 2px solid #fff;
    border-radius: 8%;
    background-color: #101010;
    padding-right: 3%;
    padding-left: 3%;
    max-width: 31%;
    padding-bottom: 3%;
}
.minHeightSond{
    min-height: 350px;
}
.card_1{
    margin-right: 1%;
}
.card_2{
    margin-right: 1%;
    margin-left: 1%;
}
.card_3{
    margin-left: 1%;
}
.buttonVote{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.sondCreationDate{
    margin: 1px 0;
}
.sondTheme{
    margin: 1px 0;
}
.sondNbVote{
    margin: 1px 0;
}
.dispDropMenu{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}
.sondDropMenu{
    width: 33%;
}
.sondDropMenu select{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}
.buttonSonder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.leftMargePlus{
    margin-left: 10%;
}
.affVainqueurPasse{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2%;
}
.vainqueurPasse{
    width: 48%;
}
.vainqueurGauche{
    padding-left: 18%;
}
.vainqueurDroite{
    padding-right: 18%;
}
.vainqueurCentered{
    text-align: center;
}
/* Suppresion */
.suppression{
    display: flex;
    flex-direction: row;
    width: 95%;
}
.supprID{
    width: 25%;
}
#deleteByID{
    width: 52%;
    max-height: 40px;
    margin-top: 6px;
}
#deleteByIDPlay{
    width: 30%;
    max-height: 40px;
    margin-top: 1%;
    margin-left: 1%;
}
#supprInPlayID{
    width:20%
}
#littleBox{
    width: 46%;
}
.supprName{
    width: 70%;
    margin-left: 4%;
}
#deleteByName{
    width: 30%;
    max-height: 40px;
    margin-left: 2%;
    margin-top: 6px;
}
#deleteByNamePlay{
    width: 70%;
    max-height: 40px;
    margin-left: 1%;
    margin-top: 1%;
}
#supprInPlayName{
    width:20%
}
/* Importation et exportation*/
#styleImportExport{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#styleImportExport form{
    width: 25%;

}
#styleImportExport form button{
    width: 55%;
    margin-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.buttonHoverCustomGreen:hover{
    background-color: #23C418;
}
#illustrationAccueil{
    /* padding-top: 32px;*/
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
}
#bottomNavSondage{
    width:97%;
}
.imageScale{
    width:100%;
    max-width:980px;
}
.fontBold{
    font-weight: bold;
}
#corner-image{
    width:100%
}
.navbar-smallScreen-width{
    width:32% !important
}
.navbar-bottom-width{
    width:32% !important
}
.underline{
    text-decoration: underline;
}
.titrePage{
    font-family: "Audiowide-Regular";
    font-size: 48px;
}
#adresseContact{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-left: 32px;
}#adresseContact>p{width: 50%}
.marginBottomMedium{
    margin-bottom: 16px;
}
.fontAudiowide{
    font-family: "Audiowide-Regular";
}
/* Style relatif au bar de sélection de MàJ */
.updateSearchBar{
    max-height: 40px;
    margin: 5px;
}
/* Sélection d'affichage page Playlist */
.flexSelectPlaylist_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 12px;
}
.flexAffPlaylist{
    display: flex;
    flex-direction: row;
}
.critereTriAffPlay{
    margin-right: 5px ;
}
.affParID{
    margin-right: 10px ;
}
#flexSelPlay_botCont{
    margin-top: 18px;
    margin-bottom: 1px;
}
.affPlaylists{
    width: 65%;
    border-style : solid;
    border-width: 1px;
    border-left: #fff;
    border-top: #fff;
    border-bottom: #fff;
}
.affContenuPlaylist{
    width: 35%;
    padding-left: 20px;
    padding-right: 10px;
    border-style : solid;
    border-width: 1px;
    border-right: #fff;
    border-top: #fff;
    border-bottom: #fff;
}
.affPlaylistsReverse{
    width: 70%;
    border-style : solid;
    border-width: 1px;
    padding-left: 20px;
    border-right: #fff;
    border-top: #fff;
    border-bottom: #fff;
}
.affContenuPlaylistReverse{
    width: 30%;
    border-style : solid;
    border-width: 1px;
    padding-right: 10px;
    border-left: #fff;
    border-top: #fff;
    border-bottom: #fff;
}
#dropContenuPlaylist select{
    width: 90%;
}
/* Zones d'insertion */
#playlistName{
    width: 86%;
}
.insertPseudoBar{
    margin-left: 5%;
    margin-bottom: 5px;
    padding: 8px;
    width: 80%;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Sansation-Regular";
}
textarea {
    font-size: 16px;
    letter-spacing: 1px;
    height: 64px;
    max-width: 95%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000;
    margin-top: 5px;
}
label + textarea {
    display: block;
    margin-bottom: 11px;
}
.labelDescri{
    font-size:20px;
    font-weight: 400;
}
.flexAjoutTitrePlaylist{
    display: flex;
    flex-direction: row;
}

/* Menu-déroulant */
.dropMenu{
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    font-family: "Sansation-Regular", Arial;;
    padding-left: 10px;
}
.dropMenuAlbArtUser{
    margin-bottom: 10px;
    width: 50%;
}
.albumSelectCol{
    width: 50%;
    margin-bottom: 15px;
}
.artistSelectCol{
    width: 50%;
    margin-left: 2%;
}
.thickDropMenuMoins select{width: 50%;}
.thickDropMenu select{width: 70%;}
.thickDropMenuPlus select{width: 90%;}
.dropMenuTime{
    width: 40%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5%;
    margin-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    font-family: "Sansation-Regular", Arial;;
    padding-left: 10px;
}#menuHour{
    margin-left: 5%;
}
.dureeSon{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 8%;
}
.widthDuree{
    width: 30%;
}
.dropMenuDate{
    width: 30%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    font-family: "Sansation-Regular", Arial;;
    padding-left: 10px;
}
.menuJour{
    width: 15%;
    margin-right: 2%;
    margin-left: 5%;
}
.menuMois{
    width: 30%;
    margin-right: 2%;
}
.menuAnnee{
    width: 20%;
    margin-right: 2%;
}
#displayDateSortie{
    display: flex;
    flex-direction: row;
}
/* Bars de recherche */
.searchBar{
    margin-left: 5%;
    padding: 8px;
    width: 80%;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Sansation-Regular";
}
#classifBar{
    margin-bottom: 1px;
}
/* Boutons de recherche */
.searchButton{
    background-image: url(/static/media/images/searchGlass.png);
    background-repeat: no-repeat;
    background-size: 34px;
    background-color: #000;
	border: 2px solid #000;
	border-radius: 12px;
    height: 42px;
    width: 42px;
}
.searchButton:hover{
    cursor: pointer;
    border: 2px solid #23C418;
}

/* Boutons Radio */
input[type="radio"].sortRadio {display: none;}
input[type="radio"].sortRadio + label {
    margin-right: 1%;
    padding: 2px 4px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #000;
    border: 10px solid transparent;
}
input[type="radio"].sortRadio.radio1:hover + label {
    background-color: #C929CF;
    border-color: #C929CF;
}
input[type="radio"].sortRadio.radio1:checked + label {
    background-color: #C929CF;
    border-color: #C929CF;
}
input[type="radio"].sortRadio.radio2:hover + label {
    background-color: #23C418;
    border-color: #23C418;
}
input[type="radio"].sortRadio.radio2:checked + label {
    background-color: #23C418;
    border-color: #23C418;
}

/* Cases checkbox */ 
#inverseOrdrePlay{
    margin-left: 5%;
}
/* Conteneur */
.sortBox {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-top: 18px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
  }
/* Supprime les cases du navigateur */
.sortBox input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
/* Créer de nouvelles cases */
.sortCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ddd;
    border-radius: 0.3rem;
}
.sortBox input:checked ~ .sortCheckmark {background-color: #23C418;}
/* Gestion de la marque dans la case */
.sortCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
.sortBox input:checked ~ .sortCheckmark:after {display: block;}
.sortBox .sortCheckmark:after {
    left: 8px;
    top: 2px;
    width: 9px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Boutons Valider */
.submitButton {
    padding: 4px 6px;
    font-size: 20px;
	background: #101010;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	text-shadow: none;
}
.submitButton:hover {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
    cursor: pointer;
}
.submitButtonHover:hover{background: #C929CF;}
.submitContenuPlaylist{
    margin-top: 3%;
}
/* Affichage en tableau */
table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 16px;
    border: 3px solid #fff;
}
th{
    border: 3px solid #fff;
    padding: 10px;
}
tr, td{
    border: 1px solid #fff;
    padding: 10px;
}
