<%inherit file="template.html"/>
<%doc> contenu de "self.body()"  </%doc>
<div class="w3-content w3-justify">
    <!-- Insertion de playlist -->
    <section>
        <form action="insertIntoAlbum">
            <h3>Ajouter un nouvel album, EP ou single : </h3>
            <h4 class="leftMarge">Nom de l'album, EP ou single* :</h4>
            <input type="search" name="albumName" placeholder="Tapez un nom d'album ... " class="insertPseudoBar"  maxlength="75" required>
            <br>
            <div class="leftMarge displayRow" >
                <div class="insertAlbumBox">
                    <h4 class="">Classification (album, EP ou single) :</h4>
                    <select id="classifBar" name="classification" class="dropMenu" style="margin-left: 10%;">
                        <option value="Album">Album</option>
                        <option value="EP">EP</option>
                        <option value="Single">Single</option>
                    </select>
                </div>
                <div class="displayCol insertAlbumBox">
                    <h4 class="lowLineHeight">Date de sortie :<span class="fontSize16 lowLineHeight"> établir à 0 au moins un paramètre si vous ne 
                        connaissez pas la date de sortie</span></h4>
                    <div>
                        <select class="dropMenuDate menuJour" name="jours">
                            <option value="0">0</option>
                            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                            <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                            <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option>
                            <option value="30">30</option><option value="31">31</option>
                        </select>
                        <select class="dropMenuDate menuMois" name="mois">
                            <option value="0">0</option>
                            <option value="1">Janvier</option><option value="2">Février</option><option value="3">Mars</option><option value="4">Avril</option>
                            <option value="5">Mai</option><option value="6">Juin</option><option value="7">Juillet</option> <option value="8">Août</option>
                            <option value="9">Septembre</option><option value="10">Octobre</option><option value="11">Novembre</option><option value="12">Décembre</option>
                        </select>
                        <select class="dropMenuDate menuAnnee" name="annees">
                            <option value="0000">0000</option>
                            <option value="2025">2025</option><option value="2024">2024</option><option value="2023">2023</option><option value="2022">2022</option><option value="2021">2021</option>
                            <option value="2020">2020</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option>
                            <option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option>
                            <option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option>
                            <option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option>
                            <option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option>
                            <option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option>
                            <option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option>
                            <option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option>
                            <option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option>
                            <option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <h4 class="leftMarge">Indiquez l'artiste ou le groupe auteur de cet album :</h4>
                <div class="leftMarge decalageBas">
                    <div class="leftMarge dropMenuAlbArtUser">
                        ${charHTML_dropMenu_art}
                    </div>
                </div>
            </div>
            <button type="submit" class="submitButton submitButtonHover standardButton">Ajouter</button>
        </form>
    </section>
    <hr>
    <!-- Suppression d'albums -->
    <section>
        <h3>Supprimer un album :<span class="fontSize16"> supprimez en renseignant l'ID <u>OU</u> le nom de l'album, EP ou single</span></h3>
        <form action="deleteAlbum" >
            <div class="suppression leftMarge decalageBas">
                <div class="displayRow supprID">
                    <h4 class="textNoJustify" id="littleBox">Par son ID :</h4>
                    <input class="insertPseudoBar" id="deleteByID" type="number" min="1" max="${idMaxAlbum}" name="albumIdDelete" placeholder="ID ... " required>
                </div>
                <div class="displayRow supprName">
                    <h4 class="textNoJustify">Par son nom :</h4>
                    <input class="insertPseudoBar" id="deleteByName" type="search" name="albumNameDelete" placeholder="Nom ... " >
                </div>
            </div>
            <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Supprimer</button>
        </form>
    </section>
    <hr>
    <!-- Modification d'album par ID -->
    <section>
        <div>
            <form action="initiateUpdateAlbum">
                <h3 class="lowLineHeight">Modifier un album, EP ou single :<span class="fontSize16 lowLineHeight"> accédez à la modification 
                    des informations d'un album, EP ou single en renseignant son ID</span></h3>
                <div class="displayRow leftMarge">
                    <h4>ID de l'album, EP ou single à modifier : </h4>
                    <div class="displayRow">
                        <input type="search" name="searchAlbum" placeholder="Tapez un ID ... " class="searchBar updateSearchBar">
                        <input type="submit" value="" class="searchButton updateSearchBar"/>
                    </div>
                </div>
            </form>
        </div>
        <div>
            ${charHTML_updateAlbum}
        </div>
    </section>
    <hr>
    <!-- Sélection -->
    <section>
        <div>
            <form action="barSearchAlbum">
                <h3>Rechercher par nom d'album, EP ou single :<span class="fontSize16"> cherchez un album, un EP ou u  single en renseignant son nom</span></h3>
                <input type="search" name="searchAlbum" placeholder="Tapez un nom d'album ... " class="searchBar" maxlength="75" required>
                <input type="submit" value="" class="searchButton"/>
            </form>
        </div>
        
            <h3 class="marginBottomMedium">Trier l'affichage :<span class="fontSize16"> triez la façon dont les albums, les EP et les singles sont affichés</span></h3>
            <form action="sortSearchAlbum">
                <div class="leftMarge decalageBas">
                    <input type="radio" class="sortRadio radio1" id="idAlbum" name="sortSelection" value="numAlbum" checked>
                    <label for="idAlbum">Par ID</label>

                    <input type="radio" class="sortRadio radio2" id="nameAlbum" name="sortSelection" value="nomAlbum">
                    <label for="nameAlbum">Par nom d'album</label>
                    
                    <input type="radio" class="sortRadio radio2" id="artisteAlbum" name="sortSelection" value="nomArtiste">
                    <label for="artisteAlbum">Par artiste</label>
                    
                    <input type="radio" class="sortRadio radio2" id="classifAlbum" name="sortSelection" value="classification">
                    <label for="classifAlbum">Par classification (EP, Single, Album)</label>
                    
                    <input type="radio" class="sortRadio radio2" id="dateAlbum" name="sortSelection" value="dateSortie">
                    <label for="dateAlbum">Par date de sortie</label>

                    <label class="sortBox">Inverser l'ordre 
                        <input type="checkbox" id="ordreInverse" name="ordreInverse" value=1>
                        <span class="sortCheckmark"></span>
                    </label>
                </div>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Trier</button>
            </form>
    </section>
    <hr>
    <!-- Affichage -->
    <section>
        <h3><u>Affichage des albums/EPs/singles :</u></h3>
        ${charHTML_tabAffichage}
    </section>
</div>