<%inherit file="template.html"/>
<%doc> contenu de "self.body()"</%doc>
<div class="w3-content w3-justify">
    <!-- Insertion d'artistes -->
    <section>
        <form action="insertIntoArtiste">
            <h3>Ajouter un nouvel artiste ou un nouveau groupe : </h3>
            <h4 class="leftMarge">Nom de l'artiste ou du groupe* :</h4>
            <input type="search" name="artisteName" placeholder="Tapez un nom d'artiste ou de groupe ... " class="insertPseudoBar" maxlength="75" required>
            <br>
            <div class="leftMarge decalageHaut">
                <label class="labelDescri lowLineHeight" for="artisteDescri">Description de l'artiste ou du groupe :<span class="fontSize16"> décrivez l'artiste ou le 
                    groupe si vous le connaissez un peu (genre, origine, inspiration, etc)</span></label>
                <textarea id="artisteDescri" name="artisteDescri" rows="5" cols="92" maxlength="250"></textarea>
            </div>
            <button type="submit" class="submitButton submitButtonHover standardButton">Ajouter</button>
        </form>
    </section>
    <hr>
    <!-- Suppression d'albums -->
    <section>
        <h3>Supprimer un artiste ou un groupe :<span class="fontSize16"> supprimez en renseignant l'ID <u>OU</u> le nom de l'artiste ou du groupe</span></h3>
        <form action="deleteArtiste" >
            <div class="suppression leftMarge decalageBas">
                <div class="displayRow supprID">
                    <h4 class="textNoJustify" id="littleBox">Par son ID :</h4>
                    <input class="insertPseudoBar" id="deleteByID" type="number" min="1" max="${idMaxArtiste}" name="artisteIdDelete" placeholder="ID ... " >
                </div>
                <div class="displayRow supprName">
                    <h4 class="textNoJustify">Par son nom :</h4>
                    <input class="insertPseudoBar" id="deleteByName" type="search" name="artisteNameDelete" placeholder="Nom ... "  maxlength="75">
                </div>
            </div>
            <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Supprimer</button>
        </form>
    </section>
    <hr>
    <!-- Modification d'artiste par ID -->
    <section>
        <div>
            <form action="initiateUpdateArtiste">
                <h3 class="lowLineHeight">Modifier un artiste ou un groupe :<span class="fontSize16 lowLineHeight"> accédez à la modification 
                    des informations d'un artiste ou d'un groupe en renseignant son ID</span></h3>
                <div class="displayRow leftMarge">
                    <h4>ID de l'artiste ou du groupe à modifier : </h4>
                    <div class="displayRow">
                        <input type="number" min="1" max="${idMaxArtiste}" name="searchArtiste" placeholder="Tapez un ID ... " class="searchBar updateSearchBar" required>
                        <input type="submit" value="" class="searchButton updateSearchBar"/>
                    </div>
                </div>
            </form>
        </div>
        <div>
            ${charHTML_updateArtiste}
        </div>
    </section>
    <hr>
    <!-- Sélection -->
    <section>
        <div>
            <form action="barSearchArtiste">
                <h3>Rechercher par nom d'artiste ou de groupe :<span class="fontSize16"> cherchez un artiste ou un groupe en renseignant son nom</span></h3>
                <input type="search" name="searchArtiste" placeholder="Tapez un nom d'artiste ou de groupe ... " class="searchBar"  maxlength="75" required>
                <input type="submit" value="" class="searchButton"/>
            </form>
        </div>
        <div>
            <h3 class="marginBottomMedium">Trier l'affichage :<span class="fontSize16"> triez la façon dont les artistes et les groupes sont affichés</span></h3>
            <form action="sortSearchArtiste">
                <div class="leftMarge">
                    <input type="radio" class="sortRadio radio1" id="idArtiste" name="sortSelection" value="numArtiste" checked>
                    <label for="idArtiste">Par ID</label>

                    <input type="radio" class="sortRadio radio2" id="nameArtiste" name="sortSelection" value="nomArtiste">
                    <label for="nameArtiste">Par artiste</label>
                    
                    <label class="sortBox">Inverser l'ordre 
                        <input type="checkbox" id="ordreInverse" name="ordreInverse" value=1>
                        <span class="sortCheckmark"></span>
                    </label>
                </div>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Trier</button>
            </form>
        </div>
    </section>
    <hr>
    <!-- Affichage -->
    <section>
        <h3><u>Affichage des artistes/groupes :</u></h3>
        ${charHTML_tabAffichage}
    </section>
</div>