<%inherit file="template.html"/>
<%doc> contenu de "self.body()"</%doc>
<div class="w3-content w3-justify">
    <!-- Présentation rapide -->
    <section>
        <h1 class="centeredText"> Bienvenue sur EasyTune </h1>
        <p class="tabulation fontSize20">
                Bienvenue sur <a class="customizedPink">EasyTune</a>, votre interface de gestion de votre base de données musicale. Ici, vous 
            pourrez <a class="customizedGreen">ajouter, modifiez, supprimez et affichez</a> les titres, artistes et albums disponibles
            dans la base de données. Vous pourrez également créer et gérer <a class="customizedGreen">vos propres playlists</a>, et 
            explorer des nouveaux styles musicaux en regardant les playlists des autres utilisateurs. 
        </p>
        <p class="tabulation fontSize20">
                De plus, notre administrateur met régulière à jour le sondage de la page <a class="customizedPink">"Sondage".</a> Là-bas, 
            vous pouvez <a class="customizedGreen">voter</a> pour une des trois playlists présentées et ainsi élire la meilleure de 
            celles-ci. Les playlists sont tirées au sort parmi toutes celles créer par les utilisateurs. Vos playlists seront-elles élues les 
            <a class="customizedPink fontBold">meilleures</a> ?
        </p>
        <hr>
        <h2 class=""> Conseils d'utilisations - Lisez moi :]</h2>
        <p class="tabulation fontSize20">
                Afin d'avoir une expérience des plus agréables au cours de l'utilisation d'<a class="customizedPink">EasyTune</a>, l'administrateur
            du site vous apporte quelques conseils et règles. Respecter ces quelques points, et vous n'expérimenterez <a class="customizedGreen">aucun
            bug</a> ou autres désagréments.
        </p>
        <ul class="fontSize20" style="margin-bottom: 3%;">
            <li>Les sections comportant la mention <a class="customizedPink">"ADMIN"</a> ne sont pas destinées aux utilisateurs. Veuillez vous référer à l'administrateur pour 
                plus de détails
            </li>
            <li>
                Les différents menus déroulants sont triés par <a class="customizedGreen">ordre alphabétique</a>
            </li>
            <li>
                Lors d'une insertion de texte, évitez les guillements (remplacez les par 1 ou 2 apostrophe(s))
            </li>
            <li>
                Si un champ comportant le caractère "<a class="customizedGreen">*</a>", il doit être remplie obligatoire pour effectuer quelconque action.
            </li>
            <li>Il existe quelques suppressions <a class="customizedGreen">"dangereuses"</a>. Ces suppressions engendreront la majeure partie du temps la suppression de données
                liées à la donnée supprimée initialement. Par exemple, supprimer un artiste supprime également les albums et les titres qui lui
                sont liés. Cette règle s'applique aussi aux playlists liées à des utilisateurs, ainsi qu'aux titres liés à des albums.<br>
                <a class="customizedPink">Soyez donc vigilant !</a>
            </li>
            <li>Merci de conservé les données d'ID n° 1 des pages "Albums", "Artiste" et "Utilisateurs". Ces données servent notamment aux titres dont 
                l'album est <a class="customizedGreen">inconnu</a>, mais également aux titres et aux albums dont l'artiste est <a class="customizedGreen">
                inconnu</a>, et enfin aux utilisateurs souhaitant restés <a class="customizedGreen">anonymes</a>. 
            </li>
            <li>
                Il est possible qu'en de rares occasions, il soit possible de renseigner des <a class="customizedPink">IDs qui n'existent pas.</a>Il est
                donc fortement déconseillé évidemment de rentrer une ID incorrecte dans ces cas-là.
            </li>
            <li>
                Lisez les consignes : l'utilité de chaque champs est expliqué au-dessus de celui-ci. Prendre le temps de lire ces descriptions vous évitera
                des erreurs
            </li>
            <li>
                Il est conseillé d'utiliser <a class="customizedPink">EasyTune</a> sur ordinateur, en plein écran, pour un maximum de confort (même si 
                l'interface fonctionne sous d'autres formats).
            </li>
            <li>
                Pour finir, et de façon plus globale,  <a class="customizedPink">partagez</a> et <a class="customizedGreen fontBold">amusez-vous</a> ! Tous 
                les utilisateurs de EasyTune ont un point commun : l'amour de la musique. <a class="customizedGreen"></a>Soyez ouvert et respectueux</a>,vous
                trouverez sûrement une pépite sonore se cachant dans notre base de données :D
            </li>
        </ul>
    </section>
    <hr>
    <!-- Image d'illustration -->
    <section>
        <img class="imageScale" src="/static/media/images/IllustrationAccueil.png" id="illustrationAccueil">
    </section>
    <hr>
    <!-- Importation / Exportation CSVs / Reinit Tables / Reinit DB -->
    <section>
        <h3 style="margin-bottom: 1px;">ADMIN - Utilitaires de l'interface web : </h3>
        <div id="styleImportExport" class="textToLeft">
            <form action="importCSV" id="importCSV">
                <h4>Importer les données<br>sauvegardées :</h4>
                <button type="submit" class="submitButton submitButtonHover standardButton">Importer</button>
            </form>
            <form action="exportCSV">
                <h4 class="toLittleH4">Exporter les données : </h4>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Exporter</button>
            </form>
            <form action="reinitialisationTables">
                <h4 class="toLittleH4">Réinitialiser les tables : </h4>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Réinitialiser</button>
            </form>
            <form action="reinitialisationDataBase">
                <h4>Recréer la base<br>de données : </h4>
                <button type="submit" class="submitButton submitButtonHover standardButton">Recréer</button>
            </form>
        </div>
    </section>
</div>
