<%inherit file="template.html"/>
<%doc> contenu de "self.body()"</%doc>
<div class="w3-content w3-justify">
    <section class="displayRow">
        <!-- Insertion de playlist -->
        <div class="affPlaylists">
            <form action="insertIntoPlaylist">
                <h3>Ajouter une nouvelle playlist : </h3>
                <div class="decalageBas">
                    <h4 class="leftMarge">Nom de la nouvelle playlist* :</h4>
                    <input type="search" id="playlistName" name="playlistName" placeholder="Tapez un nom de playlist ... " class="insertPseudoBar" maxlength="75" required>
                    <br>
                    <div>
                        <h4 class="leftMarge">Indiquez l'utilisateur qui crée cette playlist :</h4>
                        <div class="leftMarge dropMenuAlbArtUser">
                            ${charHTML_dropMenu_user}
                        </div>
                    </div>
                    <div class="leftMarge lowLineHeight">
                        <label class="labelDescri" for="playlistTheme">Décrivez la nouvelle playlist :<span class="fontSize16"> décrivez le thème de cette 
                            playlist,<br>ses inspirations, etc.</span></label>
                        <textarea id="playlistTheme" name="playlistTheme" rows="5" cols="63" maxlength="250"></textarea>
                    </div>
                </div>
                <button type="submit" class="submitButton submitButtonHover standardButtonPl">Ajouter</button>
            </form>
        </div>
        <!-- Insertion de titre dans les playlists -->
        <div class="affContenuPlaylist needToBeCenteredRow" style="padding-bottom: 2%;">
            <div>
                <h3>Associer un titre à une playlist : </h3>
                <form action="insertTitreInPlaylist">
                    <div class="displayCol leftMarge decalageBas">
                        <div>
                            <h4>Indiquez un titre à<br>associer :</h4>
                            <div class="thickDropMenuPlus">
                                ${charHTML_dropMenu_tit}
                            </div>
                        </div>
                        <div>
                            <h4 class="textNoJustify">Indiquez la playlist où ajouter ce titre :</h4>
                            <div class="thickDropMenuPlus">
                                ${charHTML_dropMenu_play}
                            </div>
                        </div>
                    </div>
                    <h5 class="leftMarge textNoJustify">${messErr}</h5>
                    <button type="submit" class="submitButton buttonHoverCustomGreen standardButtonPl">Ajouter</button>
                </form>
            </div>
        </div>
    </section>
    <hr>
    <!-- Suppression de playlist -->
    <section class="displayRow">
        <div class="affContenuPlaylistReverse">
            <h3 class="textNoJustify lowLineHeight">Supprimer une playlist :<span class="fontSize16"> supprimez en renseignant l'ID <u>OU</u> le nom de la playlist</span></h3>
            <form action="deletePlaylist" >
                <div class="displayCol leftMarge decalageBas">
                    <h4 class="textNoJustify">Par son ID :</h4>
                    <input class="insertPseudoBar leftMarge" min="1" type="number" max="${idMaxPlaylist}" name="playlistIdDelete" placeholder="ID ... " >
                
                    <h4 class="textNoJustify">Par son nom :</h4>
                    <input class="insertPseudoBar leftMarge decalageBas" type="search" name="playlistNameDelete" placeholder="Nom ... " maxlength="75">
                </div>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButtonPl" style="margin-top: 4%;">Supprimer</button>
            </form>
        </div>
        <!-- Suppression de titre dans les playlists -->
        <div class="affPlaylistsReverse needToBeCenteredRow">
            <div>
                <h3 class="lowLineHeight">Supprimer un titre d'une playlist :<span class="fontSize16"> sélectionnez la playlist comportant le titre à supprimer,
                    puis renseignez l'ID <u>OU</u> le nom du titre à éliminer</span></h3>
                <form action="deleteIntoPlaylist" >
                    <div class="displayCol leftMarge decalageBas">
                        <div class="decalageBas">
                            <h4 class="textNoJustify">Sélectionner la playlist : </h4>
                            <div class="leftMarge thickDropMenuMoins">
                                ${charHTML_dropMenu_play}
                            </div>
                        </div>
                        <div class="displayRow">
                            <h4 id="supprInPlayID">Par son ID :</h4>
                            <input class="insertPseudoBar" id="deleteByIDPlay" min="1" type="number" max="${idMaxPlaylist}" name="intoPlaylistIdDelete" placeholder="ID ... " >
                        </div>
                        <div class="displayRow">
                            <h4 class="textNoJustify" id="supprInPlayName">Par son nom :</h4>
                            <input class="insertPseudoBar" id="deleteByNamePlay" type="search" name="intoPlaylistNameDelete" placeholder="Nom ... " maxlength="75">
                        </div>
                    </div>
                    <button type="submit" class="submitButton buttonHoverCustomGreen standardButtonPl">Supprimer</button>
                </form>
            </div>
        </div>
    </section>
    <hr>
    <!-- Modification de playlist par ID -->
    <section>
        <div>
            <form action="initiateUpdatePlaylist">
                <h3 class="lowLineHeight">Modifier une playlist :<span class="fontSize16 lowLineHeight"> accédez à la modification 
                    des informations d'une playlist en renseignant son ID</span></h3>
                <div class="displayRow leftMarge">
                    <h4>ID de la playlist à modifier* : </h4>
                    <div class="displayRow">
                        <input type="number" min="1" max="${idMaxPlaylist}" name="searchPlaylist" placeholder="Tapez un ID ... " class="searchBar updateSearchBar" required/>
                        <input type="submit" value="" class="searchButton updateSearchBar"/>
                    </div>
                </div>
            </form>
        </div>
        <div>
            ${charHTML_updatePlaylist}
        </div>
    </section>
    <hr>
    <!-- Sélection -->
    <div class="displayRow">
        <div class="affPlaylists">
            <div>
                <form action="barSearchPlaylist">
                    <h3 class="lowLineHeight">Rechercher par nom de playlist* :<span class="fontSize16 lowLineHeight"> cherchez une playlist en 
                        <br> renseignant son nom</span></h3>
                    <input type="search" name="searchPlaylist" placeholder="Tapez un nom de playlist ... " class="searchBar" maxlength="75" required>
                    <input type="submit" value="" class="searchButton"/>
                </form>
            </div>
            <div>
                <h3 class="marginBottomMedium">Trier l'affichage :<span class="fontSize16"> triez la façon dont les playlists sont affichés</span></h3>
                <form action="sortSearchPlaylist">
                    <div class="displayRow">
                        <div class="leftMarge affParID">
                            <input type="radio" class="sortRadio radio1 radiodeb" id="idPlaylist" name="sortSelection" value="numPlaylist" checked>
                            <label for="idPlaylist">Par ID</label>
                        </div>
                        <div class="critereTriAffPlay">
                            <input type="radio" class="sortRadio radio2" id="namePlaylist" name="sortSelection" value="nomPlaylist">
                            <label for="namePlaylist">Par nom de playlist</label>
                        </div>
                        <div class="critereTriAffPlay">
                            <input type="radio" class="sortRadio radio2 radiodeb" id="userPlaylist" name="sortSelection" value="pseudonyme">
                            <label for="userPlaylist">Par créateur</label>
                        </div>
                        <div class="critereTriAffPlay">
                            <input type="radio" class="sortRadio radio2" id="datePlaylist" name="sortSelection" value="dateCreation">
                            <label for="datePlaylist">Par date de création</label>
                        </div>
                    </div>
                    <div>
                        <label id="inverseOrdrePlay" class="sortBox">Inverser l'ordre 
                            <input type="checkbox" id="ordreInverse" name="ordreInverse" value=1>
                            <span class="sortCheckmark"></span>
                        </label>
                    </div>
                    <button type="submit" class="submitButton buttonHoverCustomGreen standardButtonPl">Trier</button>
                </form>
            </div>
        </div>
        <!-- Affichage de contenu de playlist -->
        <div class="affContenuPlaylist needToBeCenteredRow" style="padding-bottom: 5%;">
            <form action="affTitreInPlaylist">
                <h3 class="textNoJustify">Afficher les titres d'une playlist : </h3>
                <div class="leftMarge decalageBas" id="dropContenuPlaylist">
                    ${charHTML_dropMenu_play}
                </div>
                <!-- <br><br><br><br style="margin-top:16px"> -->
                <button type="submit" class="submitButton buttonHoverCustomGreen submitContenuPlaylist standardButtonPl">Afficher</button>
            </form>
        </div>
    </div>
    <hr>
    <!-- Affichage -->
    <section>
        <h3><u>Affichage des playlists, ou du contenu de l'une d'entre elles :</u></h3>
        ${charHTML_tabAffichage}
    </section>
</div>