<%inherit file="template.html"/>
<%doc> contenu de "self.body()"</%doc>
<div class="w3-content w3-justify">
    <!-- Affichage sondage -->
    <div class="displayCol">
        ${charHTML_actualSondage}
    </div>
    <br>
    <hr>
    <!-- Mise à jour du sondage -->
    <div>
        <div>
            <h2>ADMIN - Mise à jour du sondage : </h2>
            <h4 class="leftMarge">Choississez le nouveau sondage à mettre en ligne :</h4>
        </div>
        <form action="majSondage">
            <div class="displayRow dispDropMenu">
                ${charHTML_DropMenusMajSond}
            </div>
            <div class="buttonSonder">
                <button type="submit" class="submitButton submitButtonHover standardButton">Sonder</button>
            </div>
        </form>
    </div>
    <br>
    <hr>
    <!-- Affichage des anciens vainqueurs du sondage -->
    <div>
        <h2 class="vainqueurCentered">Vainqueurs des anciens sondages : </h2>
        <div class="displayCol affVainqueurPasse">
            ${charHTML_pastSondage}
        </div>
    </div>
</div>