<%inherit file="template.html"/>
<%doc> contenu de "self.body()"</%doc>
<div class="w3-content w3-justify">
    <!-- Insertion d'un titre -->
    <section>
        <form action="insertIntoTitre">
            <h3>Ajouter un nouveau titre : </h3>
            <h4 class="leftMarge">Nom du titre* :</h4>
            <input type="search" name="titreName" placeholder="Tapez un nom de titre ... " class="insertPseudoBar" maxlength="75" required>
            <br>
            <h4 class="leftMarge">Durée du titre :<span class="fontSize16"> établir à 0 si vous ne connaissez pas la durée du morceau</span></h4>
            <div class="dureeSon">
                <div class="displayRow widthDuree">
                    <h5 id="menuHour">Heures : </h5>
                    <select class="dropMenuTime" name="heures">
                        <option value="00">0</option><option value="01">1</option><option value="02">2</option><option value="03">3</option>
                        <option value="04">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option>
                        <option value="08">8</option><option value="09">9</option><option value="10">10</option><option value="11">11</option>
                    </select>
                </div>
                <div class="displayRow widthDuree">
                    <h5>Minutes : </h5>
                    <select class="dropMenuTime" name="minutes">
                        <option value="00">0</option><option value="01">1</option><option value="02">2</option><option value="03">3</option><option value="04">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option><option value="08">8</option><option value="09">9</option>
                        <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                        <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="08">28</option><option value="29">29</option>
                        <option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="09">39</option>
                        <option value="40">40</option><option value="01">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option>
                        <option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                    </select>
                </div>
                <div class="displayRow widthDuree">
                    <h5>Secondes : </h5>
                    <select class="dropMenuTime" name="secondes">
                        <option value="00">0</option><option value="01">1</option><option value="02">2</option><option value="03">3</option><option value="04">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option><option value="08">8</option><option value="09">9</option>
                        <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                        <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="08">28</option><option value="29">29</option>
                        <option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="09">39</option>
                        <option value="40">40</option><option value="01">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option>
                        <option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                    </select>
                </div>
            </div>
            <div class="displayRow leftMarge">
                <div class="displayCol artistSelectCol">
                    <h4>Indiquez l'artiste auteur du titre :</h4>
                    <div class="thickDropMenu">
                        ${charHTML_dropMenu_art}
                    </div>
                </div>
                <div class="displayCol albumSelectCol">
                    <h4>Indiquez l'album auquel appartient le titre :</h4>
                    <div class="thickDropMenu">
                        ${charHTML_dropMenu_alb}
                    </div>
                </div>
            </div>
            <button type="submit" class="submitButton submitButtonHover standardButton">Ajouter</button>
        </form>
    </section>
    <hr>
    <!-- Suppression de titres -->
    <section>
        <h3>Supprimer un titre :<span class="fontSize16"> supprimez en renseignant l'ID <u>OU</u> le titre du morceau</span></h3>
        <form action="deleteTitre" >
            <div class="suppression leftMarge decalageBas">
                <div class="displayRow supprID">
                    <h4 class="textNoJustify" id="littleBox">Par son ID :</h4>
                    <input class="insertPseudoBar" id="deleteByID" type="number" min="1" max="${idMaxTitre}" name="titreIdDelete" placeholder="ID ... " >
                </div>
                <div class="displayRow supprName">
                    <h4 class="textNoJustify">Par son titre :</h4>
                    <input class="insertPseudoBar" id="deleteByName" type="search" name="titreNameDelete" placeholder="Nom ... " maxlength="75">
                </div>
            </div>
            <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Supprimer</button>
        </form>
    </section>
    <hr>
    <!-- Modification de titre par ID -->
    <section>
        <div>
            <form action="initiateUpdateTitre">
                <h3>Modifier un titre :<span class="fontSize16"> accédez à la modification des informations d'un titre en renseignant son ID</span></h3>
                <div class="displayRow leftMarge">
                    <h4>ID du titre à modifier : </h4>
                    <div class="displayRow">
                        <input type="number" min="1" max="${idMaxTitre}" name="searchTitre" placeholder="Tapez un ID ... " class="searchBar updateSearchBar" required>
                        <input type="submit" value="" class="searchButton updateSearchBar"/>
                    </div>
                </div>
            </form>
        </div>
        <div>
            ${charHTML_updateTitre}
        </div>
    </section>
    <hr>
    <!-- Sélection -->
    <section>
        <div>
            <form action="barSearchTitre">
                <h3>Rechercher par titre :<span class="fontSize16"> cherchez un titre en renseignant son nom</span></h3>
                <input type="search" name="searchTitre" placeholder="Tapez un titre ... " class="searchBar" maxlength="75" required>
                <input type="submit" value="" class="searchButton"/>
            </form>
        </div>
        <h3 class="marginBottomMedium">Trier l'affichage :<span class="fontSize16"> triez la façon dont les titres sont affichés</span></h3>
            <form action="sortSearchTitre">
                <div class="leftMarge">
                    <input type="radio" class="sortRadio radio1" id="idTitre" name="sortSelection" value="numTitre" checked>
                    <label for="idTitre">Par ID</label>

                    <input type="radio" class="sortRadio radio2" id="nameTitre" name="sortSelection" value="nomTitre">
                    <label for="nameTitre">Par titre</label>
                    
                    <input type="radio" class="sortRadio radio2" id="dureeTitre" name="sortSelection" value="duree">
                    <label for="dureeTitre">Par durée</label>
                    
                    <input type="radio" class="sortRadio radio2" id="albumTitre" name="sortSelection" value="nomAlbum">
                    <label for="albumTitre">Par album</label>
                    
                    <input type="radio" class="sortRadio radio2" id="artisteTitre" name="sortSelection" value="nomArtiste">
                    <label for="artisteTitre">Par artiste</label>

                    <label class="sortBox">Inverser l'ordre 
                        <input type="checkbox" id="ordreInverse" name="ordreInverse" value=1>
                        <span class="sortCheckmark"></span>
                    </label>
                </div>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Trier</button>
            </form>
    </section>
    <hr>
    <!-- Affichage -->
    <section>
        <h3><u>Affichage des titres :</u></h3>
        ${charHTML_tabAffichage}
    </section>
</div>