<%inherit file="template.html"/>
<%doc> contenu de "self.body()"</%doc>
<div class="w3-content w3-justify">
    <!-- Insertion d'utilisateurs -->
    <section>
        <form action="insertIntoUser">
            <h3>Ajouter un nouvel utilisateur : </h3>
            <h4 class="leftMarge">Pseudonyme du nouvel utilisateur* :</h4>
            <input type="search" name="userPseudo" placeholder="Tapez un pseudonyme ... " class="insertPseudoBar" maxlength="75" required>
            <br>
            <div class="leftMarge decalageHaut">
                <label class="labelDescri lowLineHeight" for="userDescri">Description de l'utilisateur :<span class="fontSize16"> décrivez l'utilisateur
                    (vous peut-être), si vous le souhaitez (styles préférés ou détestés, caractéristiques, etc)</span></label>
                <textarea id="userDescri" name="userDescri" rows="5" cols="92" maxlength="250"></textarea>
            </div>
            <button type="submit" class="submitButton submitButtonHover standardButton">Ajouter</button>
        </form>
    </section>
    <hr>
    <!-- Suppression d'utilisateurs -->
    <section>
        <h3>Supprimer un utilisateur :<span class="fontSize16"> supprimez en renseignant l'ID <u>OU</u> le pseudonyme de l'utilisateur</span></h3>
        <form action="deleteUser" >
            <div class="suppression leftMarge decalageBas">
                <div class="displayRow supprID">
                    <h4 class="textNoJustify" id="littleBox">Par son ID :</h4>
                    <input class="insertPseudoBar" id="deleteByID" type="number" min="1" max="${idMaxUser}" name="userIdDelete" placeholder="ID ... " >
                </div>
                <div class="displayRow supprName">
                    <h4 class="textNoJustify">Par son pseudonyme :</h4>
                    <input class="insertPseudoBar" id="deleteByName" type="search" name="userNameDelete" placeholder="Pseudonyme ... " maxlength="75">
                </div>
            </div>
            <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Supprimer</button>
        </form>
    </section>
    <hr>
    <!-- Modification d'utilisateur par ID -->
    <section>
        <div>
            <form action="initiateUpdateUser">
                <h3 class="lowLineHeight">Modifier un utilisateur :<span class="fontSize16 lowLineHeight"> accédez à la modification 
                    des informations d'un utilisateur en renseignant son ID</span></h3>
                <div class="displayRow leftMarge">
                    <h4>ID de l'utilisateur à modifier* : </h4>
                    <div class="displayRow">
                        <input type="number" min="1" max="${idMaxUser}" name="searchUser" placeholder="Tapez un ID ... " class="searchBar updateSearchBar" required>
                        <input type="submit" value="" class="searchButton updateSearchBar"/>
                    </div>
                </div>
            </form>
        </div>
        <div>
            ${charHTML_updateUser}
        </div>
    </section>
    <hr>
    <!-- Sélection -->
    <section>
        <div>
            <form action="barSearchUser">
                <h3>Rechercher par nom d'utilisateur :<span class="fontSize16"> cherchez un utilisateur en renseignant son pseudonyme</span></h3>
                <input type="search" name="searchUser" placeholder="Tapez un pseudonyme ... " class="searchBar" maxlength="75" required>
                <input type="submit" value="" class="searchButton"/>
            </form>
        </div>
        <div>
            <h3 class="marginBottomMedium">Trier l'affichage :<span class="fontSize16"> triez la façon dont les utilisateurs sont affichés</span></h3>
            <form action="sortSearchUser">
                <div class="leftMarge decalageBas">
                    <input type="radio" class="sortRadio radio1" id="idUser" name="sortSelection" value="numUtil" checked>
                    <label for="idUser">Par ID</label>

                    <input type="radio" class="sortRadio radio2" id="nameUser" name="sortSelection" value="pseudonyme">
                    <label for="nameUser">Par nom d'utilisateur</label>
                    
                    <label class="sortBox">Inverser l'ordre 
                        <input type="checkbox" id="ordreInverse" name="ordreInverse" value="1">
                        <span class="sortCheckmark"></span>
                    </label>
                </div>
                <button type="submit" class="submitButton buttonHoverCustomGreen standardButton">Trier</button>
            </form>
        </div>
    </section>
    <hr>

    <!-- Affichage -->
    <section>
        <h3><u>Affichage des utilisateurs :</u></h3>
        ${charHTML_tabAffichage}
    </section>
</div>
